.inputWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 25px;
    align-items: flex-start;
}
.label {
    font: 16px/20px Arial;
    margin-bottom: 5px;
    display: block;
}
.input {
    height: 40px !important;
    border: 1px solid #ccc !important;
    padding: 0 20px !important;
    font: 16px Arial;
    display: block;
    width: 100%;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.input:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #6e6e6e !important;
}
.input[type="submit"] {
    display: inline-block;
    width: auto;
    background: #f1f1f1;
    padding: 0 40px;
    cursor: pointer;
}
.notify {
    font: 12px Arial;
    color: red;
    margin-top: 3px;
}
