.mainSection {
    padding: 0;
}
.fieldWrapper {
    display: flex;
}
.fieldInput {
    width: 350px;
    margin-right: 15px;
}
.buttonCopy {
    padding: 0 20px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    font: 16px Arial;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.buttonCopy:focus {
    outline: none;
    border: 1px solid #6e6e6e;
}
.buttonCopy:hover {
    border: 1px solid #6e6e6e;
}
.linkCopied {
    font: 14px/40px Arial;
    color: green;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.buttonDownload {
    height: 40px;
    width: 350px;
    font: 16px Arial;
    border: 1px solid #ccc;
    background: #f1f1f1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.buttonDownload:focus {
    outline: none;
    border: 1px solid #6e6e6e;
}
.buttonDownload:hover {
    border: 1px solid #6e6e6e;
}
.orDiv {
    text-align: center;
    font: 20px Arial;
    font-weight: bold;
    margin: 30px 0 30px;
    overflow: hidden;
    width: 350px;
}
.generateEventWrapper {
    margin-bottom: 40px;
    border-bottom: 1px solid #6e6e6e;
    padding-bottom: 15px;
}
.dateWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 25px;
    align-items: flex-start;
}
.selectEvents {
    height: 40px;
    width: 350px;
    font: 16px Arial;
    padding: 0 25px 0 20px !important;
    border-color: #cecece !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    color: #000 !important;
}
.selectEvents:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.notify {
    font: 12px Arial;
    color: red;
    margin-top: 3px;
}
.eventsSelectWrapper {
    margin-bottom: 20px;
}
